/* General */

.strong {
    font-weight: bold;
}

/* Search Form */

#search-input {
    border: none;
    border-radius: 0 !important;
    border-bottom: 1px solid #777;
    text-align: center;
    padding: 5px 0;
    width: 100%;
}

.health-selections {
    margin-left: 10px;
}

#searchBtn {
    background: none;
    border: none;
}

#search-input, #searchBtn:focus {
    outline: none !important;
}

/* Recipe Cards */

.card {
    margin: 10px 5px;
}

.instructions-btns {
    border: 1px solid gray;
}

.health-icons {
    margin-right: 5px;
}